[Unit]
Description=Xbox Configuration
StopWhenUnneeded=true
PartOf=xboxdrv@%i.service

[Service]
Type=oneshot
EnvironmentFile=/run/xboxdrv/running/%i
ExecStart=/bin/sh -c 'cat /run/xboxdrv/profiles/$USBID >> /run/xboxdrv/running/%i'
