Unit]
Description=Xbox controller driver daemon
Requisite=ubuntu-xboxdrv.service
ConditionPathExists=/run/xboxdrv/running/%i
BindsTo=dev-bus-usb-%i.device
After=xboxdrv-config@.service
[Service]
Type=simple
EnvironmentFile=/run/xboxdrv/running/%i

ExecStart=/usr/bin/xboxdrv --silent $XBOXDRV_OPTIONS $PAD_OPTIONS $CONTROLLER_OPTIONS
 
[Install]
WantedBy=multi-user.target
